<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/top.css" />
    <title>visited_Map</title>
  </head>
  <body>
    <h1>行った場所記録マップ</h1>
    <form action="/add_place" method="post">
      スポット名:<input type="text" name="name" id="name" required /> <br />
      訪問日：<input type="date" name="visited_date" /> <br />

      <!-- 自動でセットしてdbへ送る -->
      <input type="hidden" id="address" name="address" />
      <input type="hidden" id="lat" name="lat" />
      <input type="hidden" id="lon" name="lon" />

      <!-- optionとして住所入力可能 -->
      <input type="text" name="manual_address" id="manual_address" placeholder="住所を追加" /> <br />

      <button type="submit">登録</button>
    </form>

    <div id="map"></div>

    <!------------=========PYTHON=======-------- -->
    <script>
      // const rows = "{{rows}}";
      const places = { places };
      console.log("受取");
      console.log("場所データの受取", places);
      let map;

      function initMap() {
        console.log("initMap呼び出し");
        const center = { lat: 35.6895, lng: 139.6917 };
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 5,
          center: center,
        });

        console.log(rows);
        // console.log(places);
        // console.log(places[0]);
        // console.log(places[3]);
        // for (place in places) {
        //   console.log(place);
        // }

        // places.forEach((p) => {
        //   new google.maps.Marker({
        //     position: { lat: p.lat, lng: p.lon },
        //     map: map,
        //     title: p.name,
        //   });
        // });
      }

      // スポット入力の補助
      function initAutocomplete() {
        const input = document.getElementById("name");
        // Autocompleteの初期化
        const autocomplete = new google.maps.places.Autocomplete(input, {
          types: ["establishment"],
        });
        // 候補が選択された時のイベント
        autocomplete.addListener("place_changed", function () {
          // 選択された場所の情報取得
          const place = autocomplete.getPlace();
          if (place.geometry) {
            const address = place.formatted_address || "";
            const lat = place.geometry.location.lat();
            const lon = place.geometry.location.lng();

            document.getElementById("address").value = address;
            document.getElementById("lat").value = lat;
            document.getElementById("lon").value = lon;

            console.log(name, address, lat, lon);
            // console.log(place);でGoogleMapAPIから返却されるJSON中身確認可能
          }
        });
      }

      function init() {
        initMap();
        initAutocomplete();
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={api_key}&libraries=places&callback=init" async defer></script>
  </body>
</html>
